<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./css/images/Logo-echoCMS.svg" type="image/icon">
        <link rel="stylesheet" href="./css/home.css">
        <title>EchoCMS</title>
    </head>
    <body>
        {{#error}}
        <p class="p-error">{{error}}<span>×</span></p>
        {{/error}}
        
        <header>
            <div class="div-menu"><span></span></div>
            <a href="/"><span class="span-logo"></span></a>
            {{^login}}
                <a href="/login"><span class="span-login"></span></a>
            {{/login}}
            {{#login}}
            <span class="span-profile"></span>
            <div class="window-profile"><a href="/logout"><span>Sair da Conta</a></span></div>
            
            
            {{/login}}
        </header>
        <div class="div-main">
            <div>
                <div class="div-main-menu">
                    <a href="/create"><span class="span-add-content"><span></span><p>Criar Pagina</p></span></a>
                    <div class="div-search-content"><span></span><input type="text" name="search" id="div-search-input" placeholder="Pesquisa"></div>
                    <div class="div-filter">
                        <span class="span-filter-recent"><p>Recentes</p><span></span></span>
                        <span class="span-filter-nome"><p>Nome</p><span></span></span>
                        <span class="span-filter-popular"><p>Popular</p><span></span></span>
                    </div>
                </div>
                <div class="div-main-contents">

                    <div class="div-content" data-route="/Loremipsum">
                        <span class="span-content-icon"></span>
                        <div>
                            <h4 class="h4-content-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h4>
                            <p class="p-content-dateup">Útima Atualização: 07/07/2024</p>
                        </div>
                        <p class="p-content-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, ipsa ad eum neque et eveniet aliquam aperiam blanditiis perferendis repellat nihil modi aspernatur, impedit ex quo autem corporis quidem error?
Quo dolorem quasi nobis officia consectetur dolorum delectus culpa. Veniam veritatis neque aperiam tempore officiis nulla expedita ratione pariatur, accusamus tempora asperiores! Fuga est non quae praesentium quam quaerat soluta.
Aut optio quidem eum, quisquam, eos nisi placeat sapiente quibusdam error doloremque obcaecati recusandae magni et delectus assumenda. Officiis repellendus eaque sint nulla cumque tenetur laboriosam laudantium autem voluptatum fugiat.
Debitis ex cumque enim aperiam minus dolorum? Hic optio nam, facere vitae eum obcaecati possimus recusandae suscipit aspernatur dignissimos quas a eveniet numquam ipsa labore distinctio quisquam accusamus corporis. Iusto.
Enim quaerat sapiente, velit blanditiis necessitatibus, repellendus nulla repellat laboriosam magni quisquam nesciunt molestiae ab delectus debitis nihil accusantium cupiditate optio. Laudantium, commodi. Reprehenderit repellendus excepturi quo vel porro reiciendis?
Possimus, velit magni. Ratione, expedita et. Quae sapiente explicabo quo quam sit eaque aperiam impedit, vitae possimus eum repellat vero consequatur earum sunt molestias minus repellendus suscipit? Ullam, minima recusandae.
Officia voluptatibus illum itaque excepturi commodi dicta, incidunt architecto sapiente quisquam. Illo ipsa harum saepe, dolor vero officiis sit nulla cum qui excepturi necessitatibus totam facere voluptatum nisi quasi accusantium!
Ab eaque autem suscipit sed fugiat atque, nesciunt molestiae cumque excepturi, rem pariatur quas provident nemo veniam quo quibusdam voluptas dicta aliquid numquam fugit odit enim. Quis doloribus nobis fugiat!
Iure optio vitae reprehenderit placeat quae minus ex atque facere quasi voluptates odit quibusdam a repellat, quis in. Maxime, illum eaque! Velit eos dignissimos doloribus recusandae, voluptate libero. Perferendis, doloribus.
Quae facilis vero voluptatibus cumque fuga tenetur voluptatem eaque, odit eum culpa quos, dolores illum itaque sed tempora alias consequatur debitis labore totam excepturi commodi rerum asperiores ipsa? Corrupti, placeat.
Nihil a doloremque magni at accusamus rerum corrupti facere. Optio modi libero quo officia sit, vitae labore velit veniam. Vero iste, iusto eos debitis amet tempora dicta atque cumque inventore!
Quo tenetur accusantium numquam in blanditiis voluptatem optio, pariatur consequuntur consequatur doloribus quibusdam ipsum placeat, quos commodi quam voluptas maxime ea dolorum sint beatae. Omnis in doloremque est odit possimus.
Accusamus reiciendis ullam ipsum asperiores eaque impedit laboriosam ex. Deleniti minus dolore illo voluptatum, ducimus ipsam distinctio ad perferendis, repellat tempora iure. Aliquid et culpa sunt temporibus quisquam dolores libero!
Autem modi, impedit quasi sequi labore ad! Veniam modi aspernatur laudantium adipisci quaerat dignissimos amet est ea. Ab ratione, voluptatibus, repellendus perspiciatis adipisci necessitatibus dolore iusto, accusantium non sequi facere.
Voluptatem voluptatibus id asperiores sed maxime commodi magni iste error, voluptate libero perferendis harum. Nesciunt impedit esse recusandae distinctio quos sapiente quisquam voluptatem consectetur. Atque id fugiat esse iste voluptates.
Beatae reiciendis impedit, tempora, pariatur totam quas excepturi ratione quos necessitatibus incidunt odit repellat id ab reprehenderit iusto, esse ut culpa vero minus animi voluptatibus dignissimos. Placeat dolorem error nisi?
Iusto praesentium vel tenetur? Labore beatae nam quis sit error cum pariatur aliquam laboriosam. Dignissimos, eveniet magni suscipit, tempore commodi iure porro dolores praesentium, libero officiis veniam hic repellendus dolor?
Ad, officiis. Sit molestias veritatis officiis tempore! Ut iste atque impedit. Facilis nulla perferendis, ea veniam veritatis laudantium accusantium tempora sapiente odit enim numquam rem dolor. Consequuntur repellat assumenda possimus.
Vel alias architecto harum dicta! Aliquid sint qui commodi, veritatis sed a, sequi, aperiam quia quae facilis dolor! Necessitatibus, praesentium! Iure vitae consectetur accusantium? Laboriosam, ad velit. Labore, maiores iste!
Laboriosam magni cupiditate delectus repellendus provident officiis praesentium, aliquid, vero minima exercitationem ullam, dolore accusantium labore! Quisquam expedita nostrum consequatur, perferendis illum, iste pariatur laboriosam sequi, fugit soluta in possimus?</p>
                    </div>
                

                </div>
            </div>
            
        </div>
        <script>
                let contents = document.querySelectorAll('.div-content');

                contents.forEach(content => {
                    content.addEventListener('click', () => {
                        let route = content.getAttribute('data-route');
                        window.location.href = route;
                    });
                });

                if(document.querySelector(".span-profile")){
                    let spanProfile = document.querySelector(".span-profile");
                    spanProfile.addEventListener("click", () => {
                        let windowP = document.querySelector(".window-profile");
                        windowP.style.display = (windowP.style.display == 'block') ? 'none' : 'block';

                        console.log(spanProfile.classList);
                        if(spanProfile.classList.contains("span-profile-dark")){
                            console.log("Removing class");
                            spanProfile.classList.remove("span-profile-dark");
                        }
                        else{
                            console.log("Adding class");
                            spanProfile.classList.add("span-profile-dark")
                        }
                        console.log(spanProfile.classList);
                    });
                }

                if( document.querySelector(".p-error>span")){
                    let spanError = document.querySelector(".p-error>span");
                    spanError.addEventListener('click', () => {
                        window.location.href = '/';
                    });
                    let spanLogin = document.querySelector(".span-login");
                    spanLogin.style.top = "44px";
                    console.log(spanLogin.style.top);
                }
        </script>
    </body>
</html>