<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./css/images/Logo-echoCMS.svg" type="image/icon">
        <link rel="stylesheet" href="./css/home.css">
        <title>EchoCMS</title>
    </head>
    <body>
        {{#error}}
        <p class="p-error">{{error}}<span>×</span></p>
        {{/error}}
        
        <header>
            <div class="div-menu"><span></span></div>
            <a href="/"><span class="span-logo"></span></a>
            {{^login}}
                <a href="/login"><span class="span-login"></span></a>
            {{/login}}
            {{#login}}
            <span class="span-profile"></span>
            <div class="window-profile"><a href="/logout"><span>Sair da Conta</a></span></div>
            
            
            {{/login}}
        </header>
        <div class="div-main">
            <div>
                <div class="div-main-menu">
                    <a href="/create"><span class="span-add-content"><span></span><p>Criar Pagina</p></span></a>
                    <div class="div-search-content"><span></span><input type="text" name="search" id="div-search-input" placeholder="Pesquisa"></div>
                    <div class="div-filter">
                        <span class="span-filter-recent"><p>Recentes</p><span></span></span>
                        <span class="span-filter-nome"><p>Nome</p><span></span></span>
                        <span class="span-filter-popular"><p>Popular</p><span></span></span>
                    </div>
                </div>
                <div class="div-main-contents">

                    {{! <div class="div-content" data-route="/javaparainiciantes">
                        <span class="span-content-icon"></span>
                        <div>
                            <h4 class="h4-content-title">Java Para Iniciantes - Java do Básico ao Avançado sssssssssssssssssssssssss</h4>
                            <p class="p-content-dateup">Útima Atualização: 05/07/2024</p>
                        </div>
                        <p class="p-content-info">Nessa página você aprendera sobre conceitos basicos de programação como tipos de dados, manipulação de arrays e strings, variáveis, operadores e estruturas de controle. Por último você verá um pouco sobre conceitos de Programação Orientada a Objetos como: Encapsulamento, herança e polimorfismo. Nessa página você aprendera sobre conceitos basicos de programação como tipos de dados, manipulação de arrays e strings, variáveis, operadores e estruturas de controle. Por último você verá um pouco sobre conceitos de Programação Orientada a Objetos como: Encapsulamento, herança e polimorfismo.</p>
                    </div> }}
                    {{! <div class="div-content" data-route="/rota2">
                        <span class="span-content-icon"></span>
                        <div>
                            <h4 class="h4-content-title"></h4>
                            <p class="p-content-dateup"></p>
                        </div>
                        <p class="p-content-info"></p>
                    </div> }}
                    {{#contents}}
                        <div class="div-content" data-route={{route}}>
                            <span class="span-content-icon" style="background-image: url({{image}});"></span>
                            <div>
                                <h4 class="h4-content-title">{{title}}</h4>
                                <p class="p-content-dateup">Útima Atualização: {{dateUp}}</p>
                            </div>
                            <p class="p-content-info">{{text}}</p>
                        </div>
                    {{/contents}}

                </div>
            </div>
            
        </div>
        <script>
            {{! document.addEventListener("DOMContentLoaded", function() { }}
                let contents = document.querySelectorAll('.div-content');

                contents.forEach(content => {
                    content.addEventListener('click', () => {
                        let route = content.getAttribute('data-route');
                        window.location.href = route;
                    });
                });

                if(document.querySelector(".span-profile")){
                    let spanProfile = document.querySelector(".span-profile");
                    spanProfile.addEventListener("click", () => {
                        let windowP = document.querySelector(".window-profile");
                        windowP.style.display = (windowP.style.display == 'block') ? 'none' : 'block';

                        console.log(spanProfile.classList);
                        if(spanProfile.classList.contains("span-profile-dark")){
                            console.log("Removing class");
                            spanProfile.classList.remove("span-profile-dark");
                        }
                        else{
                            console.log("Adding class");
                            spanProfile.classList.add("span-profile-dark")
                        }
                        console.log(spanProfile.classList);
                    });
                }

                if( document.querySelector(".p-error>span")){
                    let spanError = document.querySelector(".p-error>span");
                    spanError.addEventListener('click', () => {
                        window.location.href = '/';
                    });
                    let spanLogin = document.querySelector(".span-login");
                    spanLogin.style.top = "44px";
                    console.log(spanLogin.style.top);
                }

            {{! }); }}
        </script>
    </body>
</html>