<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/Logo-echoCMS.svg" type="image/icon">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>Página Inicial</title>
</head>
<body>
    <div class="div-back">
        <header>
            <a href="/"><span class="span-logo"></span></a>
            {{^login}}
                <a href="/login"><span class="span-login"></span></a>
            {{/login}}
            <span class="span-profile"></span>
        </header>
        <div class="content">
            <div class="div-right">
                <h1>SEJA BEM VINDO AO</h1>
                <h1>EchoCMS</h1>
                <h2>CONTENT MANAGEMENT SYSTEM</h2>
                <p>Coloque Suas ideias em pratica com o EchoCMS. Agilidade para criar, facilidade para gerenciar. Explore novas possibilidades e dê vida ás suas visões digitais</p>
                <a href="/"><span class="span-main"></span></a>
            </div>
        </div>
    </div>
</body>
</html>