*{
    margin: 0;
    padding: 0;
}
/* Importando uma fonte */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Saira';
    src: url('./fonts/SairaExtraCondensed-Bold.ttf');
}
@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Light.ttf');
}

/* Estilo para o body */
body{
    background-color: #3D5571;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-back{
    background-image: url("./background/background.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    width: 100%;
}
.span-logo{
    background-image: url("./images/Banner - EchoCMS.svg");
    display: block;
    position: relative;
    width: 191px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.span-login{
    background-image: url('./images/Login-light.svg');
    position: absolute;
    display: block;
    width: 140px;
    height: 46px;
    top: 16px;
    left: 1340px;
    cursor: pointer;
    user-select: none;
}
.span-login:hover{
    border-radius: 16px;
    background-color: #eeeeee09;
}
.span-profile{
    background-image: url('./images/Profile.svg');
    position: absolute;
    display: block;
    width: 47px;
    height: 44px;
    top: 17px;
    left: 1520px;
    cursor: pointer;
    user-select: none;
}
.span-profile:hover{
    border-radius: 50%;
    background-color: #eeeeee09;
}

.div-right{
    margin-left: 800px;
}
.div-right > h1:first-child{
    color: rgb(205, 220, 236);
    text-align: left;
    font-size: 40px;
    position: relative;
    right: 10px;
    top: 40px;
}
.div-right > h1:nth-child(2){
    color: rgb(247, 247, 247);
    position: relative;
    font-family: 'Saira';
    font-size: 90px;
    text-align: right;
    line-height: 80px;
    width: 660px;
    height: 80px;
    right: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.div-right > h2{
    color: #EEEEEE;
    font-family: 'Prompt';
    position: relative;
    font-size: 40px;
    width: 660px;
    right: 10px;
}
.div-right > p{
    color: #EEEEEE;
    font-size: 18px;
    line-height: 1.8rem;
    position: relative;
    width: 470px;
    margin-top: 80px;
    right: 10px;
}
.span-main{
    background-image: url('./images/button-main.svg');
    position: relative;
    display: block;
    width: 224px;
    height: 40px;
    top: 230px;
    left: 540px;
}
.span-main:hover{
    width: 240;
    height: 40px;
    border-radius: 12px;
    background-color: #eeeeee09;
}